@CHARSET "UTF-8";

button.link { 
	overflow: visible;
	width: auto;
	/* Убираем отступы */
	margin: 0;
	padding: 0;
	/* Убираем все элементы оформления кнопки */
	background: none;
	border: none;
	/* Обычный для ссылок курсор */
	cursor: pointer;
	text-align: left;
}

button.link span {
	color: #00f;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, Helvetica, Geneva, Arial, sans-serif;
}