@CHARSET "UTF-8";

.search {
	padding: 3px 5px;
}

.ShowParameters {
	padding: 15px;
}

table.items {
	border-collapse: collapse;
	border: 1px solid black;
	table-layout: auto;
	width: 100%;
}

table.items th a {
	color: black;
}

table.items td,th {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

table.items th {
	background-color: silver;
}

table.items input[type=text] {
	width: 30%;
}

table.items caption {
	caption-side: top;
	text-align: left;
	background-color: blue;
	color: white;
	font-weight: bold;
}