@CHARSET "UTF-8";

h1 a {
	text-decoration: none;
	color: black;
}

body {
	font-size: 12px;
	font-family: verdana, Helvetica, Geneva, Arial, sans-serif;
	color: #0e0e0e;
}

.logInfo {
	text-align: right;
	padding: 3px 5px;
}

table.form {
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

table.form td {
	vertical-align: top;
}

.btn {
	text-align: center;
}

p.error {
	text-align: center;
	color: red;
	font-weight: bold;
}
a.button {
	text-decoration: none;
}